.update_logout{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 1533px;
}

.emoji{
    width: 80px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
}

h1{
    vertical-align: baseline;
    font-size: 60px;
}
