.signup{
  width: 800px;
  margin-top: 30px;
}

.form-container {
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    width: 100%;
  }
  
  label {
    font-family: Edu AU VIC WA NT Guides, arial;
    font-weight: 700;
    font-size: 13px;
    display: block;
    margin: 10px 0;
  }
  
  input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 10px;
    line-height: 15px;
  }
  
  button {
    padding: 10px;
    background-color: rgb(25, 54, 172);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2.5px 2.5px 15px rgba(0,0,0,0.5);
  }
  
  button:hover {
    background-color: darkblue;
  }

  .error {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 0.9em;
    margin-left: 20px;
  }
  
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #submit{
    padding: 10px 100px;
    border-radius: 20px;
  }